thead {
    color: #337AB7;
    font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
    font-size:18px;
    text-align: center;
  }
  tbody{
    text-align: auto;
  }
  
  .table{
    box-shadow: 10px 10px 8px #888888;
  }

  td{
    text-align: center;
  }

  .zoom {
    padding: 5px;
    background-color:white;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
.zoom:hover {
  transform: scale(3);
}